<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="shortcut icon" href="./img/logo-facebook-bleu.png" type="image/x-icon">
    <title>Final project</title>
</head>
<body>
    <!-- menu -->
    <nav>
        <ul>
            <li><h3><a href="">Facebook</a></h3></li>
            <li><input type="search" name="search" id="" autocomplete="off"></li>
        </ul>
    </nav>

    <!-- post -->
    <div>
        
    </div>

    <script src="./js/homepage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</body>
</html>